@page "/workoutsessions"
@using SportTracker.Core.Models
@inject  HttpClient Http


<h3>Musculation</h3>

<a href="/workoutsessions/new" class="btn btn-primary mb-3">+ Nouvelle séance</a>
@if (sessions == null)
{
    <p>Chargement...</p>
}
else if (!sessions.Any())
{
    <p class="text-muted">Aucune séance enregistrée.</p>
}
else
{
    <div class="list-group">
        @foreach (var session in sessions)
        {
            <a href="/workoutsessions/@session.Id" class="list-group-item list-group-item-action">
                <strong>@session.Name</strong> — @session.Date.ToShortDateString()
            </a>
        }
    </div>
}

@code {
    private List<WorkoutSession>? sessions;

    protected override async Task OnInitializedAsync()
    {
        sessions = await Http.GetFromJsonAsync<List<WorkoutSession>>
            ("api/workoutsessions");
    }

}